body{
    width: 100%;
    background-color: blue;
}

.grid{
    width: 70%;
    display: grid;
    background-color: grey;
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo, .Whataboutism, .JPsg, p{
    display: inline-block;
}