@font-face {
    font-family: Asebi Mincho;
    src: url("/learnjp/fonts/AsebiMin-Light.otf");
}

body {
    background-image: url("learnjp/pics/flowers.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    background-blend-mode: difference;
    width: 100%;
    min-height: 100vh;
    font-family: Noto Sans Mono;
    font-size: 22px;
    color: white;
}

@keyframes typing {
    from {
        width: 0;
        height: 10%;
        opacity: 22%;
    }

    to {
        width: 100%;
        height: 100%;
        opacity: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.backgroundchar {
    word-break: auto-phrase;
    position: absolute;
    height: 100%;
    top: -30;
    left: 0;
    right: 0;
    font-size: 65px;
    font-family: Asebi Mincho;
    color: rgba(255, 255, 255, 0.918);
    animation:
        typing 3.5s steps(40, end);
}

a {
    color: rgba(190, 22, 33, 0.98);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.384);
    text-decoration: none;
}

h1 {
    padding: 0;
}

.grid {
    border-radius: 4px;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 60%;
    background-color: rgba(63, 63, 63, 0.973);
    padding: 22px;
}

.top {
    overflow: hidden;
    height: 3rem;
    width: clamp(300px, 32vw, 500px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    border-radius: 22px;
}

.logo,
.Whataboutism,
.JPsg,
.slacking {
    padding: 8px;
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: clamp(12px, 1vw, 25px);
    transition: font-size, 600ms;
}

.logo {
    padding: 16px;
    text-align: left;
    justify-self: left;
    text-shadow: none;
    border-radius: 22px;
}

.CJK-J {
    font-size: 45px;
    font-family: Noto Sans JP;
}

.Slogan,
.Slogan p {
    justify-self: center;
    font-size: clamp(48px, 4vw, 100px);
    font-family: Noto Sans JP;
    font-weight: bold;
    padding: 0;
    margin: 0;
    transition: letter-spacing, 1s;
}

.Slogan:hover,
.Slogan p:hover {
    letter-spacing: 2rem;
    transition: letter-spacing, 2s;
}

.encasement {
    display: grid;
    grid-template-columns: 0.5fr 4fr;
}

.container {
    color: black;
    background-color: rgb(0, 0, 0);
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: height, 100ms;
    right: 96%;
    font-size: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.container:hover {
    transition: height, 400ms;
    height: 50px;
    right: 0;
    left: 0;
    background-color: lightgrey;
}

.socials {
    font-family: Noto Serif JP;
}

.updatedstatus {
    font-family: Noto Sans JP;
}