
body{
    background-color: black;
    height: 100%;
}

.grid{
    position: relative;
    align-self: center;
    justify-self: center;
    width: 80%;
    display: grid;
    background-color: grey;
    padding: 22px;
}

.top{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo, .Whataboutism, .JPsg, p, a{
    padding: 8px;
    background-color: lightgray;
    align-self: center;
    justify-self: center;
    display: inline-block;
}

.logo{
    background-color: pink;
    text-align: left;
    justify-self: left;
    text-shadow: none;
    border-radius: 22px;
}