body {
    background-color: black;
    height: 100%;
    font-family: Noto Sans JP;
    font-size: 22px;
    color: white;
}

a{
    color: rgba(190, 22, 33, 0.98);
}

h1{
    padding: 0;
}

.grid {
    position: relative;
    align-self: center;
    justify-self: center;
    width: 80%;
    background-color: grey;
    padding: 22px;
}

.top {
    overflow: hidden;
    height: 3rem;
    width: clamp(300px, 32vw, 500px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
    background-color: lightgrey;
    border-radius: 22px;
}

.logo,
.Whataboutism,
.JPsg,
.slacking {
    padding: 8px;
    align-self: center;
    justify-self: center;
    display: inline-block;
    font-size: clamp(12px, 1vw, 25px);
    transition: font-size, 600ms;
}

.logo {
    padding: 16px;
    background-color: pink;
    text-align: left;
    justify-self: left;
    text-shadow: none;
    border-radius: 22px;
}

.container{
    color: black;
    background-color: lightgrey;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition: height, 100ms;
    right:96%;
    font-size: 15px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.container:hover{
    transition: height, 400ms;
    height: 50px;
    right: 0;
    left: 0;
}

.socials{
    font-family: Noto Serif JP;
}

.updatedstatus{
    font-family: Noto Sans JP;
}